@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
